<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>AccessRecord</h1>
        <table border="2px">
            <tr>
                <th>name</th>
                <th>date</th>
                <th>author</th>
            </tr>
            {% for ac in ACO %}
              <tr>
                <td>ac.name</td>
                <td>ac.date</td>
                <td>ac.author</td>
              </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>